/.web-server-pid
/app/config/parameters.php
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/images/
/.idea
/.idea/*
/docker/jsinsert/php_errors.log
/composer.lock
/src/Dev/FileGenTestBundle/Service/file1.csv
